name: CI

on:
  push:
  pull_request:
    branches:
      - master

jobs:
  test:
    name: Elixir ${{matrix.pair.elixir}} / OTP ${{matrix.pair.otp}}
    runs-on: ubuntu-20.04

    strategy:
      matrix:
        include:
          - pair:
              elixir: "1.18"
              otp: "28"
            lint: true
          - pair:
              elixir: "1.15"
              otp: "24"

    steps:
    - name: Checkout
      uses: actions/checkout@v5

    - name: Set up Elixir
      uses: erlef/setup-beam@v1
      with:
        elixir-version: ${{ matrix.pair.elixir }}
        otp-version: ${{ matrix.pair.otp }}

    - name: Restore deps cache
      uses: actions/cache@v4
      with:
        path: |
          deps
          _build
        key: deps-${{ runner.os }}-${{ matrix.pair.otp }}-${{ matrix.pair.elixir }}-${{ hashFiles('**/mix.lock') }}-git-${{ github.sha }}
        restore-keys: |
          deps-${{ runner.os }}-${{ matrix.pair.otp }}-${{ matrix.pair.elixir }}-${{ hashFiles('**/mix.lock') }}
          deps-${{ runner.os }}-${{ matrix.pair.otp }}-${{ matrix.pair.elixir }}

    - name: Install package dependencies
      run: mix deps.get

    - name: Check code format
      run: mix format --check-formatted
      if: ${{ matrix.lint }}

    - name: Compile dependencies
      run: mix compile
      env:
        MIX_ENV: test

    - name: Run unit tests
      run: mix test
